* {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: antiquewhite;
    color: rgb(0, 36, 0);
}

h1 {
    text-decoration: underline;
}

.mothership-container {
    text-align: center;
}

.defence-ships-container, .attack-ships-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;

}

.defence-ship, .attack-ship {
    padding: 10px;
    height: 2px, 20px;
}